version: "3"

networks:
  gpl_stack:

volumes:
  grafana-storage:
  loki-storage:
  loki-logs:

services:

  grafana:
    image: grafana/grafana:7.2.0
    container_name: grafana
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
    ports:
      - 3000:3000
    networks:
      - gpl_stack

  pm2papp:
    build: ./pm2papp
    container_name: pm2papp
    volumes:
      - ./pm2papp/logs:/var/log/pm2papp

  # prometheus:
  #   image: prom/prometheus:v2.21.0
  #   volumes:
  #     - ./prometheus/:/etc/prometheus/
  #   command:
  #     - "--config.file=/etc/prometheus/prometheus.yml"
  #     - "--storage.tsdb.path=/prometheus"
  #   ports:
  #     - 9090:9090
  #   networks:
  #     - gpl_stack

  loki:
    build: ./loki
    container_name: loki
    volumes:
    - ./loki/local-config.yaml:/etc/loki/local-config.yml
    - loki-storage:/loki
    - loki-logs:/var/log
    ports:
      - 3100:3100
    command: >-
      -c
      "/usr/bin/loki -config.file=/etc/loki/local-config.yml 2>&1 | tee /var/log/loki.log"
    entrypoint: /bin/sh
    networks:
      - gpl_stack

  promtail:
    image: grafana/promtail:1.6.1
    container_name: promtail
    volumes:
      - ./promtail/config.yml:/etc/promtail/config.yml
      - ./pm2papp/logs:/var/log/pm2papp
      - loki-logs:/var/log/loki
    entrypoint: /bin/sh
    command: >-
        -c
        "/usr/bin/promtail -config.file=/etc/promtail/config.yml 2>&1 | tee /var/log/prometail.log"
    networks:
      - gpl_stack

  # node-pm2-powered-app:
  #   build: ./app
  #   ports:
  #     - 8081:80
  #   volumes:
  #     - app_data:/var/log
  #   networks:
  #     - grafana

  # redis:
  #   build: ./app
  #   ports:
  #     - 8081:80
  #   volumes:
  #     - app_data:/var/log
  #   networks:
  #     - grafana
