global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]

  - job_name: pm2-metrics
    metrics_path: /metrics
    static_configs:
      - targets:
          - pm2papp:9209

  - job_name: 'redis_exporter_targets'
    static_configs:
      - targets:
        - redis://redis1:6379
        - redis://redis2:6379
    metrics_path: /scrape
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: redis-exporter:9121

  - job_name: "example-nodejs-app"
    static_configs:
      - targets: ["pm2papp:8080"]
